@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'TrajanSansPro';
  src: url('../fonts/TrajanSansPro/TrajanSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TrajanSansPro/TrajanSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TrajanSansPro/TrajanSansPro-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/TrajanSansPro/TrajanSansPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TrajanSansPro/TrajanSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}