body {
  font-size: 20px;
  line-height: 28px;
  color: #393E46;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  padding: 0;
  margin: 24px 0;
  position: relative;
}

li::before {
  position: absolute;
  content: '';
  left: -48px;
  top: -9px;
  width: 40px;
  height: 40px;
  line-height: 47px;
  text-align: center;
}

p {
  margin: 24px 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

a {
  text-decoration: none;
}

.green {
  color: #00ADB5;
}

.red {
  color: #F1396D;
}

.padding {
  height: 64px;
}

.bold {
  font-weight: 600;
}

.center {
  text-align: center;
}

.purpose {
  font-size: 52px;
  line-height: 64px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.navigation {
  background-image: url(../img/header-backgound.svg);
  height: 64px;
  border-top: 1px solid #f6f7f9;
  border-bottom: 1px solid #f6f7f9;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.mobile-navigation {
  display: none;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 50;
}

.navigation__logo {
  height: 37px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.navigation__item {
  margin: 0 7px;
  width: 184px;
  font-size: 16px;
  text-align: center;
  font-family: 'TrajanSansPro';
  color: #F1396D;
}

.two-techniques__first {
  background: url('../img/main-1.jpg') no-repeat center center / cover;
  height: 720px;
  margin-top: 64px;
}

.two-techniques__video {
  height: 900px;
  background: url('../img/main-2.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-conteiner {
  border-radius: 16px;
  width: 980px;
  height: 553px;
}

.two-techniques__second {
  padding: 60px 0 40px;
}

.two-techniques__third {
  background: #F6F7F9;
  padding: 25px 0 60px;
}

.differences {
  margin-top: 40px;
  margin-bottom: 58px;
}

.differences__item::before {
  background: url(../img/list-dot.png) no-repeat center center;
}

.answers__img {
  height: 520px;
  background: url('../img/main-3.jpg') no-repeat center center / cover;
}

.answers__chat {
  padding: 60px 0 80px;
}

.message-container {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.message-container_answer {
  position: relative;
  padding-left: 88px;
}

.message-container_answer::before {
  content: '';
  width: 64px;
  height: 64px;
  background: url(../img/answer-img.png);
  position: absolute;
  left: 0px;
  bottom: 0;
}

.message {
  font-weight: 500;
  border-radius: 32px;
  padding: 18px 28px;
  display: inline-block;
}

.message_question {
  background: #EEF0F2;
  max-width: 530px;
  margin-left: auto;
}

.message_answer {
  border: 1px solid #DADEE2;
  max-width: 540px;
  margin-right: auto;
  margin-bottom: 16px;
}

.message_answer:last-child {
  margin-bottom: 0;
}

.how-marathon__img {
  height: 520px;
  background: url('../img/main-4.jpg') no-repeat center center / cover;
}

.how-marathon__description {
  padding: 60px 0 40px;
}

.list-bottle::before {
  content: '🍾'
}

.list-strawberry::before {
  content: '🍓'
}

.list-apple::before {
  content: '🍎'
}

.list-burger::before {
  content: '🍔'
}

.list-check::before {
  content: '✅'
}

.list-heart::before {
  content: '🖤'
}

.list-bomb::before {
  content: '💣'
}

.list-smile::before {
  content: '😌'
}

.list-indicate::before {
  content: '👉'
}

.list-stop::before {
  content: '❌'
}

.list-attention::before {
  content: '❗'
}

.how-marathon__second {
  padding: 40px 0 80px;
  background: #F6F7F9;
}

.how-marathon__second ul {
  margin-bottom: 60px;
}

.how-marathon__second ul:last-child {
  margin-bottom: 0;
}

.rules__img {
  height: 520px;
  background: url('../img/main-5.jpg') no-repeat center center / cover;
}

.rules__first {
  padding: 60px 0 40px;
}

.rules__second {
  padding: 40px 0 80px;
  background: #F6F7F9;
}

.reviews__img {
  height: 520px;
  background: url('../img/main-6.jpg') no-repeat center center / cover;
}

.reviews__first {
  padding: 60px 0 80px;  
}

.inst-ava {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.slide {
  border: 1px solid #DADEE2;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

.slide__top {
  padding: 28px 20px 20px 28px;
  border-bottom: 1px solid #DADEE2;
}

.slide__top img {
  margin-right: 12px;
}

.slide__top_desktop {
  display: flex;
  align-items: flex-start;
}

.slide__top_mobile {
  font-size: 14px;
}

.slide__top_mobile .review-text {
  line-height: 20px;
}

.slide__top_mobile-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.slide__top_mobile-head img {
  width: 35px;
  height: 35px;
}

.review-name {
  margin-bottom: 5px;
}

.review-text {
  margin: 0;
}

.slide__bottom {
  padding: 15px 25px;
}

.inst-icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inst-icon-left-side {
  display: flex;
}

.inst-icon {
  width: 24px;
  height: 24px;
  background: url(../img/inst-icon-1.svg) no-repeat center center;
  margin-right: 12px;
}

.inst-icon:last-child {
  margin-right: 0;
}

.inst-icon_2 {
  background: url(../img/inst-icon-2.svg) no-repeat center center;
}

.inst-icon_3 {
  background: url(../img/inst-icon-3.svg) no-repeat center center;
}

.inst-icon_4 {
  background: url(../img/inst-icon-4.svg) no-repeat center center;
}

.slick-prev, .slick-next {
  width: 44px;
  height: 44px;
  background: url(../img/arrow.svg) no-repeat center center;
  position: absolute;
  top: 110px;
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-prev {
  transform: scale(-1, 1);
  left: -60px;
}

.slick-next {
  right: -60px;
}

.after-payment__img {
  height: 520px;
  background: url('../img/main-7.jpg') no-repeat center center / cover;
}

.after-payment__first {
  padding: 60px 0 40px;
}

.after-payment__second {
  padding: 40px 0 80px;
  background: #F6F7F9;
}


.after-payment__second ul {
  margin-bottom: 70px;
}

.after-payment__second ul:last-child {
  margin-bottom: 0;
}

.separator {
  height: 54px;
  background: url(../img/separator.svg)
}

.contraindications__first {
  padding: 60px 0 40px;
}

.contraindications__second {
  padding: 40px 0 60px;
  background: #F6F7F9;
  display: none;
}

.consultation-image_oxy {
  margin-top: 30px;
}

.contraindications__second.active {
  display: block;
}

.contraindications__second img {
  margin-top: 25px;
}

.switch {
  height: 32px;
  width: 580px;
  border: 1px solid #F1396D;
  border-radius: 4px;
  overflow: hidden;
  font-size: 16px;
  color: #F1396D;
  display: flex;
}

.switch__button {
  width: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.switch__button.active {
  background: #F1396D;
  color: #fff;
}

.contraindications-list {
  display: none;
}

.contraindications-list.active {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  height: 54px;
  width: 460px;
  background: #F1396D;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #DADEE2;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  height: 88px;
  font-size: 16px;
  color: rgba(57, 62, 70, 0.5);
}

.slide__top_mobile {
  display: none;
}

.slide__top_desktop {
  display: flex;
}

.navigation-button {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../img/burger.svg) no-repeat center center;
  border: none;
  cursor: pointer;
}

@media (max-width: 1450px) {
  .navigation__logo {
    display: block;
    margin: 0 auto;
  }
  .navigation__list {
    display: none;
  }
  .navigation-button {
    display: block;
  }
  .mobile-navigation {
    background: #fff;
  }
  .navigation__list_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation__list_mobile a, .navigation__list_mobile li {
    width: 100%;
    display: block;
  }
  
  .navigation__item.moblie {
    height: 40px;
    border-bottom: 1px solid #f6f7f9;
    line-height: 40px;
  }
}

@media (max-width: 1100px) {
  .video-conteiner {
    width: 600px;
    height: 339px;
  }
}

@media (max-width: 830px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
    margin: 10px 0;
  }

  li {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  .container {
    width: 90%;
    padding-left: 25px;
  }
  
  .slick-prev, .slick-next {
    width: 32px;
    height: 32px;
    top: 130px;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .two-techniques__first {
    height: 375px;
    background-image: url(../img/main-1-mobile.jpg);
    background-position-y: bottom;
  }

  .differences {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .purpose {
    font-size: 28px;
    line-height: 32px;
  }
  
  .two-techniques__video {
    height: 300px;
  }

  .video-conteiner {
    width: 335px;
    height: 189px;
  }

  .answers__chat .container {
    padding: 0;
  }

  .message-container_answer::before {
    height: 48px;
    width: 48px;
    background-size: cover;
  }

  .message {
    padding: 12px 20px;
  }
  
  .message-container_answer {
    padding-left: 60px;
  }

  .message_question {
    max-width: 80%;
  }

  .how-marathon__img, .rules__img, .reviews__img, .answers__img, .after-payment__img {
    height: 220px;
  }

  .switch {
    width: 100%;
  }

  .consultation-image_oxy {
    margin-top: 0;
  }

  .consultation-image {
    width: 327px;
  }

  .contraindications__second img {
    display: block;
    margin: 5px auto 0;
  }

  .button-container {
    margin-top: 20px;
  }

  .button {
    width: 327px;
    font-size: 16px;
    height: 48px;
  }

  .two-techniques__second {
    padding: 40px 0 24px;
  }

  .two-techniques__third, .how-marathon__description, .how-marathon__second, .rules__first,
  .rules__second, .reviews__first, .after-payment__first, .after-payment__second, .contraindications__first,
  .contraindications__second {
    padding: 25px 0;
  }

  .reviews__first .container {
    padding: 0;
  }

  .after-payment__second ul {
    margin-bottom: 30px;
  }

  .how-marathon__second ul {
    margin-bottom: 30px;
  }

  .slide__top_mobile {
    display: block;
  }

  .slide__top_desktop {
    display: none;
  }

  .slider {
    width: 280px;
    margin: 20px auto 30px;
  }

  .slide {
    font-size: 14px;
  }
  
  .inst-icon-container {
    margin-bottom: 2px;
  }
  
  .slide__top, .slide__bottom {
    padding: 14px;
  }
  
  .footer-content {
    flex-direction: column;
    height: 200px;
    padding: 25px 0;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-content img {
    order: 1;
    display: block;
    margin: 0 auto;
  }

}